body{
    font-family: 'Helvetica','Microsoft YaHei';
    color:#444;
}
.section .box{
    height: 20%;
    position: absolute;
}
.section p{
    margin: 8px 0;
}
.section .motto{
    position:absolute;
    top:80%;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    font-size: 20px;
    font-weight: 400;
    color:#51b6fa;
}
.section .nav{
    position: absolute;
    bottom: 20px;
    width: 30px;
    height: 30px;
    left: 50%;
    margin-left: -15px;
    background-color: #51b6fa;
    background-image: url('../img/arrow-up.png')
}
.section .decoration{
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background-size: cover;
}
/****************************/
#section1 #box1{
    top:5%;
    left: 50%;
    width: 300px;
    margin-left: -100px;
}
#section1 #box1 img{
    margin-left: 120px;
    height: 60px;
    width:60px;
}
#section1 #box1 p strong{
    font-weight: 700;
    color:#fdb13a;
}
#section1 #box1 #decoration1{
    top:25px;
    left:30px;
    background-image: url('../img/decoration1.png')
}
#section1 #box2{
    top:30%;
    left: 50%;
    width: 300px;
    margin-left: -140px;
}
#section1 #box2 img{
    margin-left: 20px;
    height: 60px;
    width:60px;
}
#section1 #box2 p strong{
    font-weight: 700;
    color:#8bce66;
}
#section1 #box2 #decoration2{
    top:-10px;
    right:100px;
    background-image: url('../img/decoration2.png')
}
#section1 #box3{
    top:55%;
    left: 50%;
    width: 300px;
    margin-left: -90px;
}
#section1 #box3 img{
    margin-left: 130px;
    height: 60px;
    width:60px;
}
#section1 #box3 p strong{
    font-weight: 700;
    color:#42a2e7;
}
#section1 #box3 #decoration3{
    top:-10px;
    left:30px;
    background-image: url('../img/decoration3.png')
}
/****************************/
#section2 .box{
    height: 30%;
}
#section2 #box4{
    top:5%;
    left: 50%;
    width: 300px;
    margin-left: -140px;
}
#section2 #box4 img{
    position:absolute;
    width: 100px;
    height:100px;
    top:0px;
    left: 10px;
}
#section2 #box4 h4{
    position: absolute;
    left: 130px;
    top: 12px;
    margin: 0px;
    color: #1687e3;
}
#section2 #box4 p{
    position: absolute;
    left: 130px;
    top: 36px;
    margin: 0px;
    color: #666;
    line-height: 28px;
}
#section2 #box4 p strong{
    font-size: 14px;
}
#section2 #box4 h5{
    position: absolute;
    left: 130px;
    top: 60px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    line-height: 28px;
}
#section2 #box4 #decoration4{
    bottom: -10px;
    right: 30px;
    width: 80px;
    height: 80px;
    background-image: url('../img/decoration4.png');
}
#section2 #box4 #decoration5{
    bottom: -50px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-image: url('../img/decoration5.png');
}
#section2 #box5{
    top:45%;
    left: 50%;
    width: 300px;
    margin-left: -140px;
}
#section2 #box5 img{
    position: absolute;
    width: 100px;
    height:100px;
    top:0px;
    right: 10px;
}
#section2 #box5 h4{
    position: absolute;
    right: 125px;
    top: 12px;
    margin: 0px;
    color: #3daac1;
}
#section2 #box5 p{
    position: absolute;
    right: 125px;
    top: 36px;
    margin: 0px;
    color: #666;
    text-align: right;
    line-height: 28px;
}
#section2 #box5 h5{
    position: absolute;
    right: 125px;
    top: 60px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    text-align: right;
    line-height: 28px;
}
#section2 #box5 p strong{
    font-size: 14px;
}
#section2 #box5 #decoration6{
    bottom: -16px;
    left: 30px;
    width: 60px;
    height: 60px;
    background-image: url('../img/decoration6.png');
}
#section2 #box5 #decoration7{
    bottom: -27px;
    right: 80px;
    width: 40px;
    height: 40px;
    background-image: url('../img/decoration7.png');
}
#section2 #motto2{
    color:#32cbc6;
}
#section2 #nav2{
    background-color: #32cbc6;
}
/****************************/
#section3 #box6{
    top:10%;
    left: 50%;
    width: 300px;
    margin-left: -140px;  
}
#section3 #box6 img{
    position: absolute;
    width: 90px;
    height:90px;
    top:0px;
    right: 10px;
}
#section3 #box6 h4{
    position: absolute;
    right: 106px;
    top: 0px;
    margin: 0px;
    color: #6aba00;
    font-size: 16px;
    line-height: 28px; 
}
#section3 #box6 p{
    position: absolute;
    right: 110px;
    top: 30px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px; 
}
#section3 #box6 #decoration8{
    bottom: -27px;
    left: 30px;
    width: 40px;
    height: 40px;
    background-image: url('../img/decoration8.png');
}
#section3 #box7{
    top:40%;
    left: 50%;
    width: 300px;
    margin-left: -140px;  
}
#section3 #box7 img{
    position: absolute;
    width: 90px;
    height:90px;
    top:0px;
    left: 10px;
}
#section3 #box7 h4{
    position: absolute;
    left: 110px;
    top: 0px;
    margin: 0px;
    color: #96ac1d;
    font-size: 16px;
    line-height: 28px; 
}
#section3 #box7 p{
    position: absolute;
    left: 110px;
    top: 30px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px; 
}
#section3 #box7 #decoration9{
    bottom: -27px;
    right: 60px;
    width: 60px;
    height: 60px;
    background-image: url('../img/decoration9.png');
}
#section3 #box8{
    top:70%;
    left: 50%;
    width: 300px;
    margin-left: -160px;  
}
#section3 #box8 img{
    position: absolute;
    width: 90px;
    height:90px;
    top:0px;
    right: 10px;
}
#section3 #box8 h4{
    position: absolute;
    right: 110px;
    top: 0px;
    margin: 0px;
    color: #cfbe00;
    font-size: 16px;
    line-height: 28px; 
}
#section3 #box8 p{
    position: absolute;
    right: 110px;
    top: 30px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    font-weight: 700;
    line-height: 28px; 
}
#section3 #nav3{
    background-color: #ceda14;
}
/****************************/
#section4 #box9{
    top:5%;
    left: 50%;
    width: 300px;
    margin-left: -180px;  
}
#section4 #box9 img{
    position: absolute;
    width: 80px;
    height:80px;
    top:0px;
    right: 10px;
}
#section4 #box9 h4{
    position: absolute;
    right: 100px;
    top: 0px;
    margin: 0px;
    color: #fdc500;
    font-size: 16px;
    line-height: 28px;    
}
#section4 #box9 p{
    position: absolute;
    right: 100px;
    top: 26px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    line-height: 28px;     
}
#section4 #box9 h5{
    position: absolute;
    right: 100px;
    top: 52px;
    margin: 0px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;     
}
#section4 #box9 #decoration10{
    top: -15px;
    left: 50px;
    width: 40px;
    height: 40px;
    background-image: url('../img/decoration10.png');
}
#section4 #box10{
    top:35%;
    left: 50%;
    width: 300px;
    margin-left: -140px;  
}
#section4 #box10 img{
    position: absolute;
    width: 80px;
    height:80px;
    top:0px;
    left: 10px;
}
#section4 #box10 h4{
    position: absolute;
    left: 100px;
    top: 0px;
    margin: 0px;
    color: #ee8921;
    font-size: 16px;
    line-height: 28px;    
}
#section4 #box10 p{
    position: absolute;
    left: 100px;
    top: 26px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    line-height: 28px;     
}
#section4 #box10 h5{
    position: absolute;
    left: 100px;
    top: 52px;
    margin: 0px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;     
}
#section4 #box10 #decoration11{
    top: -30px;
    right: 90px;
    width: 30px;
    height: 30px;
    background-image: url('../img/decoration11.png');
}
#section4 #box11{
    top:65%;
    left: 50%;
    width: 300px;
    margin-left: -160px;  
}
#section4 #box11 img{
    position: absolute;
    width: 80px;
    height:80px;
    top:0px;
    right: 10px;
}
#section4 #box11 h4{
    position: absolute;
    right: 100px;
    top: 0px;
    margin: 0px;
    color: #cc0200;
    font-size: 16px;
    line-height: 28px;    
}
#section4 #box11 p{
    position: absolute;
    right: 100px;
    top: 26px;
    margin: 0px;
    color: #666;
    font-size: 15px;
    line-height: 28px;     
}
#section4 #box11 h5{
    position: absolute;
    right: 100px;
    top: 52px;
    margin: 0px;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;     
}
#section4 #box11 #decoration12{
    top: -35px;
    left: 70px;
    width: 50px;
    height: 50px;
    background-image: url('../img/decoration12.png');
}
#section4 #nav4{
    background-color: #fc1c00;
}
/****************************/
#section5{
    padding: 30px 0;
}
#section5 #myCanvasContainer{
    width: 300px;
    margin: 0 auto;
}
#section5 #motto5{
    position: absolute;
    top:70%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
}
#section5 #motto5 h2{
    text-align: center;
    margin:5px;
}
#section5 #motto5 h4{
    text-align: center;
    font-size: 14px;
    color: #999;
    font-weight: 500;
    margin:2px;
}
#section5 #motto5 p{
    text-align: center;
    font-size: 16px;
}
#section5 #motto5 p .word1{
    color: #6aba00;
}
#section5 #motto5 p .word2{
    color: #1dc0c2;
}
#section5 #motto5 p .word3{
    color: #c14e98;
}
#section5 #nav5{
    background-color: #c14e98;
}
/****************************/
#section6 #box12{
    top:5%;
    left: 50%;
    width: 300px;
    margin-left: -150px;      
}
#section6 #box12 h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    color: #777;
}
#section6 #box13{
    top:20%;
    left: 50%;
    width: 250px;
    margin-left: -115px;    
}
#section6 #box13 #img12{
    width: 250px;
    height: 250px;
}
#section6 #box14{
    top:70%;
    left: 50%;
    width: 300px;
    margin-left: -150px;    
}
#section6 #box14 h3{
    text-align: center;
    font-weight: 700;
    color: #777;
    margin-bottom: 12px;
    font-size: 18px;
}
#section6 #box14 p{
    font-family: 'Helvetica';
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #aaa;
}
#section6 #box14 p span{
    margin:0 15px;
}
#section6 #box14 .btn{
    width: 180px;
    display: block;
    text-decoration: none;
    text-align: center;
    margin:20px auto;
    padding: 6px 8px;
    color: #fff;
    background-color: #fc1c00;
    border-radius: 8px;
    font-size: 16px;
}
#section6 #box14 .btn:active{
    background-color: #e82108;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5) inset;
}
#section0{
    width: 100%;
    height: 100%;
    background-image:url('../img/welcome.jpg');
    background-size: cover;
}