body {
    padding-top: 50px;
    padding-bottom: 50px;
    background: url("../img/confess-bg.jpg");
    background-size: cover;
}
.footer.fixed-bottom {
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}
.navbar-brand .fa-heart {
    color: #E66666;
}
.confess {

}
.box {
    margin: 30px auto 20px auto;
    position: relative;
    padding: 10px 20px;
    width: 100%;
    min-height: 300px;
    color: #fff;
    border-radius: 2px;
}
.box::before, .box::after {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 40%;
    height: 10px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.8);
    z-index: -1;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.box::before {
    left: 15px;
    -webkit-transform: skew(-5deg) rotate(-5deg);
    -ms-transform: skew(-5deg) rotate(-5deg);
    transform: skew(-5deg) rotate(-5deg);
}
.box::after {
    right: 15px;
    -webkit-transform: skew(5deg) rotate(5deg);
    -ms-transform: skew(5deg) rotate(5deg);
    transform: skew(5deg) rotate(5deg);
}
.box:hover::before, .box:hover::after {
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.4);
}
.box:hover::before {
    left: 5px;
}
.box:hover::after {
    right: 5px;
}
.box .to{
	text-align: left;
	font-size: 26px;
}
.box .to input,.box .to input:focus{
	background: transparent;
	border:none;
	border-bottom: solid 2px #fff;
	width: 100px;
	font-size:20px;
	outline: none;
}
.box .content{
	width: 100%;
	margin-top:20px;
	padding: 0 40px;
}
.box .content textarea{
	background: transparent;
	border: none;
	width: 100%;
	height: 200px;
	font-size: 18px;
	resize:none;
	outline: none;
}
.box .content textarea::-webkit-input-placeholder{
	color: #fff;
}
.send{
	margin-top: 20px;
}
.color-picker{
	list-style: none;
	text-align: left;
	height: 30px;
}
.color-picker li{
	float: left;
	height: 30px;
	width: 10%;
	margin:0 1.25%;
}
.color-picker li.selected{
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.7) inset;
}
.confess-wall .box {
	min-height: 180px;
	margin:0 auto;
	margin-top: 10px;
}
.confess-wall .box .to{
	font-size: 22px;
}
.confess-wall .content p{
	text-align: left;
	font-size: 18px;
}