.footer.fixed-bottom {
    margin: 0px;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3001;
}
body {
    padding-top: 50px;
    overflow: hidden;
}
.menu{
	float: right;
	margin-right: 10px;
	padding: 10px 0;
	height: 50px;
}
.menu a{
	display: inline-block;
	padding: 4px 6px;
	border-radius: 4px;
	margin: 0 2px;
	color: #444;
}
.search-top {
    padding: 20px 0;
    background-color: #CFE1FA;
}
.bg-img {
    position: relative;
}
.bg-img .img-container{
	padding-top: 40px;
	width: 60%;
	margin: 0 auto;
}
.bg-img .img-container>img {
    margin: 0 auto;
}
#dict-result{
	position: absolute;
	bottom:0;
	width: 100%;
	margin-bottom: 0px;
	text-align: left;
}
#dict-result .word{
	margin-bottom: 4px;
	font-size: 20px;
}
#dict-result .word strong{
	margin-right: 10px;
}
#dict-result .word small{
	margin-right: 4px;
	font-size: 14px;
}
#dict-result ul{
	padding:0;
	list-style:none;
}
#dict-result ul li {
	margin: 0;
	font-size: 14px;
}
.dict {
    position: absolute;
    width: 100%;
    height: 100%;
    top:50px;
    -webkit-transition: top .5s;
    -o-transition: top .5s;
    transition: top .5s;
}
.dict.scroll {
    top: -24px;
}
.search-bottom {
    background-color: #CFE1FA;
    position: absolute;
    padding-top: 20px;
    width: 100%;
    bottom: -120px;
    z-index:3000;
    -webkit-transition: bottom .5s;
    -o-transition: bottom .5s;
    transition: bottom .5s;
}
.search-bottom.scroll {
    bottom: 16px;
}
.search-bottom .search-area {
    position: relative;
    padding-right: 60px;
}
.search-bottom .search-area textarea {
    resize: none;
}
.search-bottom .search-toolbar {
    position: absolute;
    top: 0px;
    right: -4px;
}
.search-bottom p {
    margin: 6px 0;
}
.btn-group .btn {
    padding: 2px;
}
.search-bottom .search-toolbar .btn-group {
    display: block;
    height: 26px;
    margin-bottom: 7px;
}
.search-bottom .search-toolbar .arrow {
    color: #fff;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 7px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
}
.search-bottom .search-toolbar .dropdown-menu {
    padding: 2px;
    line-height: 1;
    min-width: 30px;
}
.dropdown-menu li {
    padding: 2px 0;
    border-bottom: solid 1px #ccc;
}
#translation-modal{
	top:51px;
	color: #8a6d3b;
}
#translation-modal .modal-header{
	padding: 8px 8px 0 10px;
	border-bottom: none;
	font-weight: 700;
}
#translation-modal .modal-body{
	padding-top: 0;
	overflow-y:scroll;
}
#translation-modal .modal-footer{
	padding:4px 10px 4px 0;
	font-size: 12px;
}
#translation-modal .modal-dialog{
	width: 100%;
	margin: 0;
	text-align: left;
}
#translation-modal .modal-content{
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	background-color: #fcf8e3;
	border-color: #faebcc;
	box-shadow: none;
}
.loading-mask{
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top:51px;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.5);
}
.loading{
	position: absolute;
	top:30%;
	left: 50%;
	display: inline-block;
	width: 100px;
	margin-left: -50px;
	padding: 4px 0;
	background-color:#ccc;
	border: solid #eee 1px;
	color:#444;
	font-size: 16px;
	border-radius: 6px;
}
.loading i{
	font-size: 20px;
}