body{
  padding-bottom: 40px;
  padding-top: 50px;
}
.footer.fixed-bottom{
    margin: 0px;
    position: fixed;
    left:0;
    bottom:0;
    z-index: 2;
}
*{
  margin: 0;
  padding: 0;
}
body{
  background:#edeff0;
}
#restable{
  background:#fff;
  color:#777;
  overflow:hidden;
  text-align: left;
  min-width:320px;
  max-width:100%;
  margin:1em auto;
  border-collapse:collapse;
}
#restable th, 
#restable td:before{
  color:#5a6772;
  text-align:left;
  display:none;
}
#restable tr:nth-child(2) th{
  cursor:pointer;
}
#restable tr:nth-child(2) th:hover{
  color:orange;
}
#restable tr:first-child th{
  display:table-cell;
  text-align:center;
  background:#505050;
  color:#fff;
  padding:1em .5em !important;
}
#restable tr:nth-child(2) th{
  background:#707070;
  color:#fff;
}
#restable tr,
#restable td:first-child{
  -webkit-background-size:40px;
  -moz-background-size:40px;
  -o-background-size:40px;
  background-size:40px;
  background-repeat:no-repeat;
  background-position:95% 65%;
}
#restable tr,
#restable td:first-child{
  -webkit-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  -moz-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  -o-transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
  transition:background-position 1s cubic-bezier(0, 1.2, .8, 1.2);
}
#restable td{
  display:block;
  padding:0 .5em;
}
#restable td:first-child{
  padding-top:1em;
  background-position:0 -100px;
  color:#333;
  font-weight:600;
}
#restable td:last-child{
  padding-bottom:1em;
  border-bottom:1px solid #ccc;
}
#restable tr:last-child td:last-child{
  border-bottom:none;
}
#restable td:before{
  content:attr(data-o);
  font-weight:bold;
  width:6.5em;
  display:inline-block;
}
#restable tr:nth-child(even){
  background-color:#ebf2f1 !important;
}
@media (min-width: 480px){
  #restable tr{
    background-position:150% 50%;
    background:transparent !important;
  }
  #restable td:before{
    display:none;
  }
  #restable th, #restable td{
    display:table-cell;
    padding:1.5em;
  }
  #restable td:first-child{
    padding-left:70px;
    background-position:5% 50%;
  }
  #restable td:last-child{
    border-bottom:none;
  }
}
/* logos */
tbody tr:nth-child(15n+1) ,tbody tr:nth-child(15n+1) td:first-child{
  background-image:url("../img/exam/1.png");
}
tbody tr:nth-child(15n+2) ,tbody tr:nth-child(15n+2) td:first-child{
  background-image:url("../img/exam/2.png");
}
tbody tr:nth-child(15n+3) ,tbody tr:nth-child(15n+3) td:first-child{
  background-image:url("../img/exam/3.png");
}
tbody tr:nth-child(15n+4) ,tbody tr:nth-child(15n+4) td:first-child{
  background-image:url("../img/exam/4.png");
}
tbody tr:nth-child(15n+5) ,tbody tr:nth-child(15n+5) td:first-child{
  background-image:url("../img/exam/5.png");
}
tbody tr:nth-child(15n+6) ,tbody tr:nth-child(15n+6) td:first-child{
  background-image:url("../img/exam/6.png");
}
tbody tr:nth-child(15n+7) ,tbody tr:nth-child(15n+7) td:first-child{
  background-image:url("../img/exam/7.png");
}
tbody tr:nth-child(15n+8) ,tbody tr:nth-child(15n+8) td:first-child{
  background-image:url("../img/exam/8.png");
}
tbody tr:nth-child(15n+9) ,tbody tr:nth-child(15n+9) td:first-child{
  background-image:url("../img/exam/9.png");
}
tbody tr:nth-child(15n+10) ,tbody tr:nth-child(15n+10) td:first-child{
  background-image:url("../img/exam/10.png");
}
tbody tr:nth-child(15n+11) ,tbody tr:nth-child(15n+11) td:first-child{
  background-image:url("../img/exam/11.png");
}
tbody tr:nth-child(15n+12) ,tbody tr:nth-child(15n+12) td:first-child{
  background-image:url("../img/exam/12.png");
}
tbody tr:nth-child(15n+13) ,tbody tr:nth-child(15n+13) td:first-child{
  background-image:url("../img/exam/13.png");
}
tbody tr:nth-child(15n+14) ,tbody tr:nth-child(15n+14) td:first-child{
  background-image:url("../img/exam/14.png");
}
tbody tr:nth-child(15n+15) ,tbody tr:nth-child(15n+15) td:first-child{
  background-image:url("../img/exam/15.png");
}


