.intern-single table{
	text-align: left;
}
.intern-single table tr:first-child td{
	border-top: none;
}
.intern-single table td:nth-child(2n+1){
	width: 20%;
	text-align: right;
}
.intern-single .table-container{
	padding: 0px 20px;
}
.intern-single table pre {
	 white-space: pre-wrap;       /* css-3 */
	 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	 white-space: -pre-wrap;      /* Opera 4-6 */
	 white-space: -o-pre-wrap;    /* Opera 7 */
	 word-wrap: break-word;       /* Internet Explorer 5.5+ */
	 background-color:transparent;
	 border: none;
	 padding: 0px;
	 overflow-x:hidden;
}