.news h3{
	padding: 0px 10px;
}
.news small{
	display: block;
	padding: 10px 0;
	border-top: dashed 1px #ddd;
	border-bottom: dashed 1px #ddd;
}
.news small span{
	margin:0px 10px; 
}
.news .news-content{
	padding: 10px 20px;
}
.news .news-content img{
	margin: 10px auto;
}

.news .news-content p{
	text-indent: 2em;
	line-height: 30px;
	text-align: left;
}